body{
    background-color: whitesmoke;
}

h1{
    text-align: center;
    color: black;
    font: bold 36px "Times new roman";
}

ul{
    text-align: center;
}

button{
    color: black;
    padding: 2%;
    margin: 1%;
    background-color: lavender;
    border-radius: 10px;
    border: 1px solid black;
}
button:disabled{
    opacity: 50%;
}
input{
    max-width: 70px;
    background-color: lavender;
    border-radius: 10px;
    border: 1px solid black;
    padding: 7px;
}
input:disabled{
    opacity: 50%;
}
table{
    margin-left: 40%;
    margin-right: 50%;
    text-align: center;
}
table,td{
    border-collapse: collapse;
    font: 24px "sans-serif";
    text-align: center;
    border: 0.5px solid black;
    padding: 5px;
    background-color: lavender;
}